<template>
  <div class="container">
    <el-container style="width:100%; height:100%">
      <el-header>
        <Header ref="header"></Header>
      </el-header>
      <el-container style="width:100%; height:calc(100% - 60px)">
        <el-aside :style="{width:'auto'}" class="side-bar">
          <el-scrollbar style="height:100%">
            <MenuBar></MenuBar>
          </el-scrollbar>
        </el-aside>
        <div class="container-main">
          <el-breadcrumb separator="/">
            <transition-group name="breadcrumb">
              <template v-for="(route,i) in crumbList">
                <el-breadcrumb-item
                  :key="route.name"
                  :to="{path: route.path}"
                  :class="{'is-last-link':i==crumbList.length-1}"
                >
                  {{route.meta.name}}
                </el-breadcrumb-item>
              </template>
            </transition-group>
          </el-breadcrumb>
          <router-view></router-view>
        </div>
      </el-container>
    </el-container>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import Header from './header'
import MenuBar from './menuBar'
export default {
  name: "Main",
  components: {
    Header,
    MenuBar
  },
  computed:{
    ...mapState({
      crumbList: state => state.common.crumbList,
    })
  },
  data(){
    return {
    }
  },
  mounted(){
  }
}
</script>
<style lang="scss" scoped>
.el-header {
  height: 60px !important;
}
.el-aside {
  height: 100%;
  background-color: #2d3a4b;
}
.el-main{
  padding: 0;
  width: 100%;
  height: 100%;
}
.side-bar {
  overflow: hidden;
  transition: width 800ms;
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  .is-horizontal {
    display: none;
  }
}
.container{
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  .container-main{
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}
</style>